.dashboard-container{

}

.dashboard-title{
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.dashboard-container .dashboard-subtitle{
    margin-top: -9px;
    font-size: 13px;
    color: rgb(155, 154, 154);
    font-family: 'Poppins', sans-serif;
}